$logo-generalitat: '~images/logo-gencat-cat.svg';
$logo-sicas: '~images/logo-sicas.svg';
$logo-footer-gene: '~images/logo-gene.svg';
$logo-footer-soc: '~images/logo-soc-footer.svg';

$logo: '/img/logo-fa.png';
$logo-mobile: '/img/logo-fa-mobile.png';
$logo-footer-gene: '/img/logos/logo-gene@3x.png';
$logo-footer-soc: '/img/logos/logo-soc-footer@3x.png';
$logo-footer-ue: '/img/logos/logo-ue@3x.png';
$logo-footer-wai: '/img/logos/logo-w-3-c@3x.png';

$edit: '/img/ico-edit.svg';
$trash: '/img/ico-borrar.svg';
$check: '/img/ico-tick.svg';
$padlock: '/img/ico-candado.svg';
$logo-info: '/img/ico-ayuda.svg';
$lupa-search: '/img/ico-lupa.svg';
$close: '/img/ico-cerrar.svg';
$folder: '/img/ico-carpeta.svg';
$mail: '/img/ico-mail.svg';