$table-cell-padding: 1.2rem !default;
$table-cell-padding-sm: 1rem !default;

$table-bg: transparent !default;
$table-accent-bg: rgba($black,.05) !default;
$table-hover-bg: rgba($green,.2) !default;
$table-active-bg: $table-hover-bg !default;

$table-border-width: $border-width !default;
$table-border-color: $gray-300 !default;

$table-head-bg: $gray-300 !default;
$table-head-color: $gray-700 !default;

$table-inverse-bg: $gray-900 !default;
$table-inverse-accent-bg: rgba($white, .05) !default;
$table-inverse-hover-bg: rgba($white, .075) !default;
$table-inverse-border-color: lighten($gray-900, 7.5%) !default;
$table-inverse-color: $body-bg !default;