@import "~bootstrap/scss/custom-forms";

.custom-control {
    &.is-required {
        .custom-control-description::after {
            font-weight: 800;
            content: $mandatory-tab;
            color: $green;
            padding-left: .25rem;
        }
    }
}

.custom-control-input {

    &:checked ~ .custom-control-indicator {
        box-shadow: none;
    }
  
    &:focus ~ .custom-control-indicator {
        box-shadow: none;
    }
}

.custom-control-description {
    @extend .label-1;
}

.custom-checkbox {
    .custom-control-indicator {
        border-radius: .25rem;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 16rem;
    }
    
    .custom-control-input:checked ~ .custom-control-indicator {
        background-color: $green;
    }
}

.input-dynamic {
    text-align: center;
    
    @for $var from 1 to $max-input-limitation {
        &[maxlength="#{$var}"] {
            width: $var+3ch;
        }
    }
}