$progress-height: 0.5rem !default;
$progress-font-size: .75rem !default;
$progress-bg: rgba(0,0,0,0) !default;
$progress-border-radius: $border-radius !default;
$progress-box-shadow: inset 0 .1rem .1rem rgba($black,.1) !default;
$progress-bar-color: $white !default;
$progress-bar-bg: theme-color("success") !default;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-transition: width .6s ease !default;

@import "~bootstrap/scss/progress";