@import "~bootstrap/scss/buttons";

.btn {
    cursor: pointer;

    &.disabled,
    &:disabled {
        color: $white;
        border-color: $gray-600;
        box-shadow: none;
        background-color: $gray-600;
        cursor: default;
    }

    & .demo-icon {
        font-size: 2.6rem;
    }

    &.next,
    &.prev {
        padding: 0;
        width: 35px;
        height: 35px;

        i {
            position: relative;
            &::before {
                position: absolute;
                top: -1.4rem;
            }
        }
    }

    &.next i::before{
        left: -0.3rem;
    }

    &.prev i::before{
        left: -0.2rem;
    }
}

.progress-button {
    @include transition($btn-transition);

    background: theme-color("success");
    border: none;
    color: $white;
    display: inline-block;
    overflow: hidden;
    outline: none;
    position: relative;
    padding: 0;
    min-width: 110px;
    
    &[disabled],
    &[disabled].state-loading {
        cursor: default;
    }
    
    & .content {
        @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
        
        display: block;
        position: relative;
        transition: transform 0.3s;
        z-index: 2;
    }
    
    & .content::before,
    & .content::after  {
        @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);

        font-family: "icons";
        left: 50%;
        position: absolute;
        right: auto;
        top: 100%;
        transition: opacity 0.3s;
        transform: translateX(-50%);
    }
    
    & .content::before {
        content: "\E805";
        font-family: fontello;
    }

    & .content::after {
        content: "\E80B";
        font-family: fontello;
        top: -100%;
    }

    .notransition {
        transition: none !important;
    }

    & .progress {
        background-color: rgba(theme-color("success"), 10);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & .progress-inner {
        position: absolute;
        left: 0;
        background-color: darken(theme-color("success"), 10%);
        width: 0%;
        height: 100%;
    }

    &.state-loading {
        .progress-inner {
            transition: width 8s;
            width: 60%;
        }
    }

    &.state-loaded {
        .progress-inner {
            transition: width .3s;
            width: 100%;
        }
    }
    
    &.state-success .content::before,
    &.state-error .content::after {
        opacity: 1;
    }
    
    &.state-success .content {
        transform: translateY(-100%);
    }

    &.state-error .content {
        transform: translateY(100%);
    }
}