@import '~bootstrap/scss/utilities';

.view-header-tabs {
	background-color: $blue-nav;

	h1 {
		@extend .display-2;
		color: $white;
	}

	.justify-content-start {
		a {
			font-size: 1.4rem;
			color: $white;
			font-weight: 600;
			padding: 1.8rem 1.2rem 1.2rem 1.2rem;
		}
	}
}


.header-tabs {
    background-color: $blue-nav;

    .justify-content-start {
        @include make-container;
        @include make-container-max-widths;

        @extend .p-0;

        .nav-item {
            .nav-link {
                &.active {
                    background-color: $white;
                }
            }
        }
    }
}

.tab-content {
    background: $white;

    .tab-pane {
        @include make-container;
        @include make-container-max-widths;

        @extend .p-0;
    }
}