<div class="view-header">
	<div class="container p-0">
		{{!-- {{> breadcrumb }} --}}
	</div>
	<div class="container mb-4 mt-4">
		<div class="row">
			<h1 class="col-8">{{ title }}</h1>
			<div class="btn-header col-4">
				<button type="button" class="btn btn-outline-success">Nova consulta</button>
			</div>
		</div>
	</div>
</div>
<div class="view-header-tabs">
	<div class="px-0">
		{{!-- {{> tabs }} --}}
	</div>
</div>